
 body{
    background-color: rgb(3, 66, 45);
    color: white;
    padding: 20px;
    
 }

 h2{
    color: white;
    padding: 20px;
 }
 ul{
    color: white;
    padding: 20px;
 }

ol{
    color: white;
    padding: 20px;
};