 #steve {
    color: white;
 }

 .white{
    color: white;
 }

 h2{
    color: white;
    padding: 20px
 }

 body{
    background-color: rgb(39, 77, 64);
    color: white
    padding: 20px
 }
 ul{
    padding: 20px
 }

