 #steve {
    color: rgb(255, 111, 0);
 }

 #steve {
    color: purple;
 }

 .blue{
    color: blue;
 }

 h2{
    color: green;
 }

 body{
    background-color: rgb(39, 77, 64);
    color: white
 }
 ul{
    padding: 20px
 }